.mainContainer{
    background: url("../images/regal.png");
    background-repeat: repeat;
    min-height: 800px;
    
}
.topBox{
    background: url("../images/photoPng.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(106, 96, 247);
}

.buttonS {
    background-color: rgb(245, 114, 168);
    color: rgb(106, 96, 247);
    font-size: 30px;
 }
 #gifs-appear-here{
   float: left;
 }

 .button:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
 
  }
 
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
 
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
 
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
 
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
/*.footer {
    border-bottom-style: solid;
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
};*/